PORT=3000
SUPABASE_URL=https://pwurxptieqaboiffsqxv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3dXJ4cHRpZXFhYm9pZmZzcXh2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDU4NTkwOSwiZXhwIjoyMDkwMTYxOTA5fQ.EuR3W61rWt86JO8gqQeEYzg412OD1Flvd9rFne_fk-U
JWT_SECRET=super_secreto_para_la_prueba_tecnica_123!
